#downloads {
    display: flex;
    padding: 1em;
}

#left {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    max-width: 350px;
}

#right {
    margin: 0;
    padding: 0;
    flex-grow: 4;
    border: 1px rgba(222, 222, 222, 0.75) solid;
    border-radius: 8px;
}

.device-name {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 10px;
    margin: 20px;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.device-name > h1 {
    font-size: 20px;
    margin: 0;
	color: #8cc9f0!important;
    font-weight: normal;
}

.device-name > h2 {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
}