::-webkit-scrollbar {
    display: none;
}

#wrapper {
    width: 64em;
    max-width: calc(100% - 4em);
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
	margin-bottom: 44px;
}

#downloads {
	display: flex;
	padding: 2em;
	border-radius: 50px;
	background: rgb(24, 26, 27);
}

#device-list {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
	max-width: 25vw;
	flex-grow: 1;
	margin: 0,5em;
	border-right: 3px solid #4d4d4d;
    box-sizing: border-box;
	font-weight: 600;
	font-family: 'Roboto Mono', monospace;
}

#view {
	flex-grow: 4;
	color: white;
	margin: auto;
}

.device-name {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 1em;
    margin: 20px;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.device-name:hover {
	background-color: rgba(114, 187, 255, 0.1);
}

.device-name > p {
    font-size: 20px;
    margin: 0;
	color: #8cc9f0!important;
    font-weight: normal;
}

.device-name > p > span {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
	color: white;
}

.hide {
	display: none;
}

.oem-button {
	color: white;
	font-size: 22px;
	margin: 20px;
	padding: 12px;
	cursor: pointer;
	border-radius: 16px;
	background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.oem-button:hover {
	background-color: rgba(114, 187, 255, 0.1);
}

.center {
	text-align: center;
}

.downloads > * {
	text-align: center;
	margin: 0!important;
}

.wrath_footer > h3 {
	margin-top: 3em;
}

.wrath_footer > p {
	color: rgba(255, 255, 255, 0.65);
}

@media screen and (min-width: 1280px) {
	#device-list {
		min-width: 25vw;
	}
}