body {
    scroll-behavior: smooth;	
    background-color: #ff0046;
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #000018 15%, #050662 85%)!important;
    background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #000018 15%, #050662 85%)!important;
    background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #000018 15%, #050662 85%)!important;
    background-image: url("images/overlay.png"), linear-gradient(45deg, #000018 15%, #050662 85%)!important;
}
.avatar > img {
    border-radius: 50%;
    max-width: 180px;
    max-height: 180px;
}

#main {
    border-radius: 50px!important;
}

#nav {
    border-radius: 50px!important;
}
/* Downloads */
#downloads {
    display: flex;
    padding: 1em;
}

#left {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    max-width: 350px;
}

#left > ul {
    list-style-type: none;
    padding: 0 1em 0 0;
    margin: 0;
}

#right {
    margin: 0;
    padding: 0;
    flex-grow: 4;
    border: 1px rgba(222, 222, 222, 0.75) solid;
    border-radius: 8px;
}

#footer {
    justify-content: center;
}

#footer > h2 {
    margin: auto;
    margin-bottom: 1.5em;
    width: auto;
}

#links {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

#wrath_footer {
    margin: 0 4em 0 4em;
}

#wrath_footer > h3 {
    font-weight: 500;
    margin-bottom: 0;
}

#wrath_footer > p {
    margin-bottom: 1em;
}

@media screen and (max-width: 736px) {
    
    #links {
        flex-direction: column;
    }

    #wrath_footer {
        margin-top: 2em;
    }
}
@media screen and (max-width: 980px) {

    #footer > h2 {
        margin-bottom: 1.5em;
        text-align: center;
    }

    #footer .copyright {
        text-align: center!important;
    }
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
	background-color: #00154f!important;
}
        
#main input[type="submit"].primary,
#main input[type="reset"].primary,
#main input[type="button"].primary,
#main button.primary,
#main .button.primary {
	background-color: #00154f!important;

}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    border-radius: 20px; 
}